<article
  class="summary border-0 border-b border-solid flex flex-col items-start justify-start overflow-hidden pb-4 relative w-full"
>
  <h2 class="mr-auto">
    <a
      class="focus:underline hover:underline no-underline"
      href="{{ .Permalink }}"
    >
      {{ .Title }}
    </a>
  </h2>
  <time
    class="mb-2 text-meta whitespace-nowrap"
    datetime='{{ .Date.Format "2006-01-02" }}'
  >
    {{ .Date.Format "Monday, Jan 2, 2006" }}
  </time>
  <p>{{ .Summary }}</p>
  <ul class="flex items-center justify-start list-none p-0">
    {{ range $key, $tag := .Params.tags }}
    <li class="ml-0 my-0 mr-2 p-0">
      <p class="m-0 p-0 text-primary uppercase whitespace-nowrap">{{ $tag }}</p>
    </li>
    {{ end }}
  </ul>
</article>
