:root {
  --background: #212121;
  --foreground: #f4f4f4;
  --meta: #888888;
  --primary: #42a5f5;
  --clear: rgba(0, 0, 0, 0.75);
  --selection: #eaf0fe;
  --duration: 250ms;
  --transition: cubic-bezier(0.155, 0.64, 0.24, 1);
}

::-moz-selection {
  background-color: var(--meta);
}

::selection {
  background-color: var(--meta);
}

*:focus {
  outline-color: var(--primary);
}

html {
  box-sizing: border-box;
  font-feature-settings: 'liga' 1;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: 100%;
}

body {
  color: var(--foreground);
  font-family: Roboto, sans-serif;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
  position: relative;
}

body[data-home="false"] {
  background-color: var(--background);
}

header,
main,
footer {
  grid-template-columns: minmax(1rem, 1fr) minmax(18rem, 60rem) minmax(
      1rem,
      1fr
    );
}

header {
  grid-template-rows: minmax(0.5rem, 1fr) min-content minmax(0.5rem, 1fr);
}

main {
  grid-template-rows: 0.5rem auto 0.5rem;
  min-height: calc(100vh - 7rem);
}

@media screen and (min-width: 640px) {
  main {
    min-height: calc(100vh - 6.90625rem);
  }
}

footer {
  grid-template-rows: minmax(1rem, 1fr) min-content minmax(1rem, 1fr);
}
.sr-visible {
  border-width: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
